body{
    background-color: black;
    color: white;
    text-align: center;
}
button{
   height:3rem;
   width: 15rem;
   border: 2px solid yellow;
   border-radius: 2rem;
   box-shadow: 0px 2px 10px orange;
   font-size: 1.5rem;
   font-family: cursive;
   font-weight: 700;
   display: block;
   margin: auto;
    cursor: pointer;
}
img{
    margin-top: 40px;
}
